---

const date = new Date().getFullYear()
---

<footer class="flex justify-between m-4 py-16">
   <div>
     <span>{date} All rights reserved, created by MRF</span>

   </div>
   <ul>
      <a class="hover:text-orange-500" href="/">Home</a>

   </ul>


</footer>