---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Portfolio'>
   <main class="flex justify-center m-36 ">
        <section>
           <h1 class="font bold text-3xl align-middle ">
               Software Developer from <span class="text-orange-500  text-4xl">Buenos Aires, Argentina</span>
			   
		   </h1>
		   <h2 class="mb-7">Sports fan and avid mate drinker, I enjoy building unique web apps <br /> Former accountant, passionate about new technologies</h2>
          <div class="flex min-w-96 justify-start gap-6" >
		      <a target="blank" class="bg-slate-500 flex items-center w-32 h-10 border-white border-2  rounded-lg hover:cursor-pointer hover:bg-orange-500"
			   href="https://www.linkedin.com/in/mariano-fandi%C3%B1o-4b9674b/" >
				<img class="fill-orange-100 w-8 h-8" src="brand-linkedin.png"/>
                <p>Linkedin</p>
			</a>
			<a target="blank" class="flex items-center bg-slate-500 w-32 h-10 border-white border-2  rounded-lg hover:cursor-pointer hover:bg-orange-500	"
			 href="https://www.linkedin.com/in/mariano-fandi%C3%B1o-4b9674b/" >
				<img class="fill-slate-200 w-8 h-8" src="brand-github.png"/>
                <p>Github</p>
			</a>
			<a target="blank" class="flex items-center w-40 h-10 bg-slate-500 border-white border-2  rounded-lg hover:cursor-pointer hover:bg-orange-500	"
			 href="Mariano Fandino W-ENG.docx" >
				<img class="fill-green-800 w-8 h-8" src="cv.png"/>
                <p>Download CV</p>
			</a>
     
		</section>
		
		

   </main>
   
   
</Layout>